/* Variaveis */
$maincolor: #689f38;
$textcolor: #455a64;

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
}

a {
	text-decoration: none;
}

.site-header {
	img {
		margin: 35px 0px;
	}
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	padding: 10px;
	text-align: center;
	margin: auto;
}

.menu {
	font-size: 0.9375rem;/*15px;*/
	margin-bottom: 20px; 
	color: $textcolor;

	ul {
		list-style: none;
		margin: auto;
	}

	li {
		display: inline;

		&:after {
			content: " \00b7";
		}

		&:last-child:after {
			content: none;
		}
	}

	a {
		color: $textcolor;
	}
}

.showMenu, .hideMenu {
	display: inline;
}

#nav-menu-text {
	display: none;
}

.search-bar {
	width: 180px;
	display: inline-block;
 	border-radius: 5px;
 	border-width: 1px;
 	border-style: solid;
 	border-color: $textcolor;
 	padding: 12px 9px 12px 0px;

 	span {
		float: left;
 	}

 	input {
		float: right;
		width: 80%;
		border-style: none;
		font-size: 0.875rem; /*14px;*/

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: &textcolor;
		  font-weight: bold;
		  opacity:  1;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: &textcolor;
		  font-weight: bold;
		  opacity:  1;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: &textcolor;
		  font-weight: bold;
		  opacity:  1;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: &textcolor;
		  font-weight: bold;
		  opacity:  1;
		}
 	}
}

.group-drop-search {
	display: inline-block;
}

.destaques {
	overflow: hidden;
	h1 {
		font-size: 1.625rem; /*26px;*/
		font-weight: bold;
		margin: 10px;
		color: $textcolor;
	}

	a {
		font-size: 0.75rem; /*12px;*/
		font-weight: bold;
		margin: 10px;
		color: $textcolor;
	}
	position: relative;
}

.ficha {
	width: 300px; /*30%*/
	height: 470px;
 	border-radius: 5px;
	overflow: hidden;
	box-shadow: 1px 3px 8px #888888;
	margin: 16.66px; /*1.666%*/
	float: left;

	img {
		height: 235px;
	}

	figure {
		a {
			color: white;
		}
	}

	p {
		margin-left: 11px;
		margin-bottom: 10px;
		color: &textcolor;
		text-align: left;
	}

	h1 {
		font-size: 0.9375rem;/*15px;*/
		width: 100%;
		display: block;
		min-height: 30px;
		text-align: left;
		position: relative;
	}

	div {
		width: 100%;
		height: 25px;
		top: -20px;
		position: relative;
	}


}

.ver-detalhes, .bt-redondo, .bt-quadrado, .dropdownmenu {
	background-color: $maincolor;
	display: inline-block;
  	cursor: pointer;
	&:hover {
		background-color: #4f7f25;
	}
}

.ver-detalhes {
	padding: 10px;
	top: -10px;
 	border-radius: 5px;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #537f2d;
	box-shadow: 1px 3px 8px #888888;
	position: relative;
}

.bt-redondo {
	padding: 8px;
 	border-radius: 20px;
 	color: white;
}

.bt-quadrado {
	padding: 8px;
 	border-radius: 5px;
 	color: white;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #537f2d;
 	width: 20px;
 	height: 20px;

 	text-align: center;
}

.bt-destaques-mobile {
	display: none;
	background-color: $maincolor;
  	cursor: pointer;
  	width: 80%;
  	padding: 8px 0;
  	max-width: 300px;
  	margin: auto;
  	border-radius: 5px;
 	color: white;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #537f2d;
	&:hover {
		background-color: #4f7f25;
	}
}

.ante, .prox {
  	position: absolute;
  	top:304px; /*53.5%*/
}

.ante {
	left: 0;
}

.prox {
	right: 0;
}

.slide-show {
	overflow: hidden;
	height: 490px;
}

.ad {
	margin-top: 50px;
	img {
		width: 32.65%;
	}
	.ad2 {
		margin-left: 0.2%;
		margin-right: 0.2%;
	}
}

.social {
	width: 100%;
	text-align: left;
}

.site-footer {
	hr {
		margin-top: 5px;
		width: 100%;
		height: 5px;
		box-shadow: 1px 3px 8px #888888;
	}
}

.nav-footer {
	width: 100%;
	margin-top: 50px;
}

.nav-footer-block {
	width: 24%;
	float: left;
	display: inline-block;
	margin-left: 0.6%;
	margin-right: 0.6%;
	text-align: left;
	position: relative;
	margin-bottom: 30px;
	top: 0px;
	font-size: 0.9375rem;/*15px;*/
	margin-top: 20px; 
	color: $textcolor;
}

.primeiro-f-block {
	margin-left: 0px;
}

.ultimo-f-block {
	margin-right: 0px;
}

.logo-footer {
	width: 100%;
}

.nav-menu-footer {
	list-style: none;
	margin-left: 20px; 
	li {
		margin-top: 20px; 
	}

	a {
		font-size: 0.9375rem;/*15px;*/
		color: $textcolor;
		font-style: bold;
	}
}

.agencias {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 0.9375rem;/*15px;*/
	strong {	
		font-size: 0.9375rem;/*15px;*/
	}
}

.div-3-footer {
	margin-bottom: 10px;
	span {
		color: white;
	}
}

.item-quadrado, .item-redondo {
	background-color: $maincolor;
	display: inline-block;
}

.item-quadrado {
	padding: 8px;
 	border-radius: 5px;
 	color: white;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #537f2d;
 	width: 20px;
 	height: 20px;

 	text-align: center;
}

.item-redondo {
	padding: 1px;
 	border-radius: 20px;
 	color: white;
}

.div-3-footer-texto {
	text-decoration: none;
	font-size: 0.9375rem;/*15px;*/
	color: $textcolor;
	b {	
		font-size: 0.9375rem;/*15px;*/
	}
}

.copyright {
	color: $maincolor;
	margin-left: 8px;
	display: inline-block;
	margin-bottom: 5px;
}

.copyright-block {
	margin-top: 30px;
}

.mobile-block {
	display: none;
}

.dropdownmenu {
	background-color: $maincolor;
	text-align: center;
	color: #ffffff;
 	font-size: 26px;
 	width: 38px;
 	height: 38px;
 	float: left;
 	border-radius: 5px;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #537f2d;
}

@media screen and (max-width: 1050px) {
	* {
		font-size: 10px;
	}
	.destaques {
		margin: auto;
		width: 736px;
		height: 400px;
	}
	.search-bar {
		width: 140px;
		padding: 8px 5px 8px 0px;
	}
	.wrapper {
		max-width: 736px;
	}
	.ante, .prox {
  		top:212px; /*53.5%*/
	}
	.ficha {
		width: 200px;
		height: 320px;
		margin: 22.66px;
		img {
			height: 155px;
		}
	}
	.bt-quadrado, .item-quadrado {
		width: 10px;
		height: 10px;
	}
}

@media screen and (max-width: 760px) {
	* {
		font-size: 16px;
	}
	.wrapper {
		padding: 0px;
	}
	.site-header {
		img {
			margin-top: 80px;
			width: 80%;
		}
	}

	.menu {
		top: 10px;
 		position: absolute;
 		width: calc(100% - 10px);

 		ul {
 			margin-top: 50px;
 			position: absolute;
 			left: 0px;
 			width: 100%;
 			background-color: white;
			box-shadow: 1px 3px 8px #888888;
			border-radius: 5px;
			padding: 15px;
 			z-index: 100;
 		}

 		li {
 			display: block;
 			text-align: left;
 			margin-left: 20px;
 			margin-bottom: 15px;
 			&:after {
				content: none;
			}
 		}
	}

	.search-bar {
		width: calc(100% - 61px);
	 	padding: 8px 9px 8px 0;
	 	float: left;
	 	margin-left: 10px;
	 	background-color: white;

	 	span {
			float: left;
	 	}

	 	input {
			width: 90%;
			height: 20px;
	 	}
	}

	.group-drop-search {
		width: 100%;
	}

	.showMenu {
		display: block;
	}

	.hideMenu {
		display: none;
	}

	.slide-show {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.slide-show-area {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.destaques {
		overflow: hidden;
		width: 100%;
		height: 100%;
		margin-top: 30px;
		h1 {
			font-size: 1.625rem; /*26px;*/
			font-weight: bold;
			margin: 10px;
			color: $textcolor;
		}

		a {
			font-size: 0.75rem; /*12px;*/
			font-weight: bold;
			margin: 10px;
			color: $textcolor;
		}
		position: relative;
	}

	.ficha {
		width: 90%;
		max-width: 350px;
		height: 470px;
		float: none;
		margin: auto;
		margin-bottom: 16px;

		img {
			height: 235px;
		}

		figure {
			a {
				color: white;
			}
		}

		p {
			margin-left: 11px;
			margin-bottom: 10px;
			color: &textcolor;
			text-align: left;
		}

		h1 {
			font-size: 0.9375rem;/*15px;*/
			width: 100%;
			display: block;
			min-height: 30px;
			text-align: left;
			position: relative;
		}

		div {
			width: 100%;
			height: 25px;
			top: -20px;
			position: relative;
		}
	}

	.prox, .ante {
		display: none;
	}

	.bt-quadrado, .item-quadrado {
		width: 20px;
		height: 20px;
	}

	.bt-destaques-mobile {
		display: block;
	}

	.mobile-block {
		display: block;
	}

	#nav-menu-text {
		margin-left: 0px;
		display: block;
	}

	.ad {
		margin-top: 50px;
		img {
			width: 100%;
		}
	}

	.ad2, .ad3 {
		display: none;
	}

	.nav-footer-block {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px; 
		float: none;
	}
	.center-on-mobile {
		width: 100%;
		text-align: center;
	}
	.logo-footer {
		width: 80%;
	}
}